.TableOfContents {
  width: 280px;
}

.TableOfContents .toc-list, .TableOfContents .toc-layer, .TableOfContents .toc-sublist, .TableOfContents .toc-sublist-layer {
  list-style: none;
  margin: 0;
  padding: 0;
}

.TableOfContents .toc-sublist{
  margin: 0 0 0 20px;
  background: #e0e0e0;
}

.TableOfContents .toc-title {
  border-bottom: 1px solid #e0e0e0;
  font-size: 16px;
  line-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.TableOfContents .toc-first-layer .toc-title {
  border-top: 1px solid #e0e0e0;
}

.TableOfContents .toc-title-container {
  background: #f8f8f8;
  color: #555;
  position: relative;
  zoom: 1;
}

.TableOfContents .toc-label {
  display: block;
  padding: 10px 20px 10px 32px;
  margin: 0;
}

.esriRTL .TableOfContents .toc-label {
  padding: 10px 0 10px 20px;
}

.TableOfContents .toc-checkbox {
  float: left;
  height: 16px;
  width: 16px;
  margin: 0;
  padding: 0;
  margin: 12px 5px 12px 10px;
}

.esriRTL .TableOfContents .toc-checkbox {
  float: right;
  margin: 12px 10px 12px 5px;
}

@media screen and (max-width: 310px) {
  .TableOfContents {
    width: auto;
  }
  .TableOfContents .toc-label {
    width: 60%;
  }
}

.toc-clear {
  clear: both;
}